.main {
  background-color: #000;
}

.main-social {
  text-align: center;
  padding-top: 40px;
}

.main-social a {
  display: inline-block;
  background-color: #000;
  font-size: 26px;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid #FFCC00;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-social a:hover {
  background-color: #ffcc00;
}

.main-title {
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title h1 {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.main-button {
  text-align: center;
  padding-top: 150px;
}

.main-button a {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  color: #000;
  background-color: #fdfa03;
  width: 200px;
  padding: 10px 0;
  margin: 0 10px;
  border: 2px solid #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

.main-button a:hover {
  color: #fdfa03;
  background-color: #000;
  border: 1px solid #fdfa03;
}

#portfolio {
  background-color: #fff;
  margin-top: 50px;
}

#portfolio h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  padding-top: 50px;
}

#portfolio .portfolio-item {
  padding-top: 50px;
}

#portfolio .portfolio-item img {
  border: 1px solid #cfcfcf;
}

.text {
  background-color: #000;
  text-align: center;
  margin-top: 50px;
}

.text-item {
  padding-top: 50px;
}

.text-item h2 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.text-title {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 100px;
}

#contact {
  text-align: center;
  margin-top: 50px;
}

#contact h2 {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  padding-top: 50px;
}

#contact form .form-box {
  display: table;
  margin: 0 auto;
  max-width: 915px;
  padding-top: 50px;
}

#contact form .form-box div {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}

#contact form .form-box input {
  width: 95%;
  height: 60px;
  margin-bottom: 30px;
  padding-left: 30px;
  color: #000000;
  border: 1px solid #111;
}

#contact form .form-box label {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  line-height: 58px;
}

#contact form .form-box .fa {
  margin-right: 15px;
  color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#contact form .form-box textarea {
  resize: none;
  float: right;
  width: 95%;
  height: 150px;
  padding: 15px 0 0 30px;
  color: #000000;
  background-color: #fff;
  border: 1px solid #222;
}

#contact form button {
  font-size: 16px;
  display: block;
  margin: 30px auto;
  float: right;
  width: 95%;
  height: 60px;
  border: 1px solid #111111;
  color: #ffffff;
  background-color: #000;
  text-transform: uppercase;
}

#contact .social {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#contact .social a {
  display: inline-block;
  background-color: #000;
  font-size: 26px;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid #FFCC00;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

#contact .social a:hover {
  background-color: #ffcc00;
}
/*# sourceMappingURL=style.css.map */